* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  line-height: 1.6;
}

.container {
  min-width: 40rem;
  min-height: 30rem;
}

.loader {
  text-align: center;
  font-size: 1.6rem;
}

#filter-form {
  font-size: 1.6rem;
}
