* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  line-height: 1.6;
}

.container {
  min-width: 48rem;
  min-height: 30rem;
  padding: 2rem;
}

#filter-form {
  font-size: 1.6rem;
}

.input {
  font-size: 1.4rem;
}

label {
  font-weight: 600;
}

/*  Search field */
.field.search {
  display: flex;
  justify-content: space-between;
}
.field.search label {
  margin-right: 1rem;
}

.field.search .control {
  flex-grow: 1;
}

/* Sort by field */
.sort-by-field {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sort-by-field button {
  margin-left: 0.8rem;
  font-size: 1.4rem;
}
